body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

html {
    background-color: rgb(238, 238, 238);
    font-family: 'Space Mono', monospace;
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

h4 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0px;
}

div.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

button {
    padding: 15px 25px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    
}

button:focus {
    background-color: black;
    color: white;
}

div.scores {
    gap: 30px;
    display: flex;
    justify-content: center;
}

main p,
main h3 {
    text-align: center;
    font-size: 22px;
}

#gaben {
    border-radius: 12px;
    max-width: 10%;
    position: absolute; bottom: 0px; right: 0px;
}

.animate {
    -webkit-animation: glide 0.2s ease-in-out alternate infinite;
}

@-webkit-keyframes glide  {
    from {
       left:0px;
       top:15px;
    }
    
    to {
       left:0px;
       top:30px;
    }
 
 }